.container{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    display: flex;
    
}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35vw;
    height: 75vh;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left: 7%;
}

.contents input, textarea, .checkboxes{
    width: 100%;
    margin-bottom: 20px;
    color: black;
}

.contents input[type="text"],
.contents input[type="email"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 5vh;
    color: black;
    font-size: 1.2vw;
}

::placeholder{
    color: black;
}

.contents textarea {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: white;
    color: black;
    font-size: 1.2vw;
    height: 15vh;
}

.checkboxes {
    font-size: 1.1vw;
    justify-content: right;
}

.checkboxes input[type="checkbox"] {
    width: 2vw;
}

.check {
    display: flex;
    height: 5vh;
    width: 100%;
}

.contents input[type="submit"] {
    font-size: 1.2vw;
    cursor: crosshair;
}

.contents > button {
    height: 6vh;
    width: 10vw;
    background: lightslategray;
    border-radius: 10%;
    margin-left: 35%;
}

.contents > button:hover {
    background-color: darkslategrey;
    color: white;
}

/* .checkbox {
    display: flex;
} */


* {
    max-width: 100%;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) { 
        .container{
            height: 75vh;
        }
        .contents{
            width: 60vw;
            height: 70vh;
            margin-left: 0%;
        }
        .contents textarea{
            font-size: 2.5vw;
        }
        .contents input[type="text"],
        .contents input[type="email"],
        .contents input[type="submit"]{ 
            font-size: 2.5vw;
        }
    }