.container{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    display: flex;
}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 65vh;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 4%;
}

.contents input, textarea{
    width: 100%;
    margin-bottom: 20px;
    color: black;
}

.contents input[type="text"],
.contents input[type="email"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 5vh;
    color: black;
    font-size: 1.2vw;
}

::placeholder{
    color: black;
}

.contents textarea {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: white;
    color: black;
    font-size: 1.2vw;
}

.contents input[type="submit"] {
    border: none;
    outline: none;
    height: 5vh;
    color: whitesmoke;
    font-size: 1.2vw;
    background: grey;
    cursor: pointer;
    border-radius: 10px;
}

* {
    max-width: 100%;
}

@media only screen 
    
    and (min-device-width: 375px)

    and (orientation: portrait) { 
        .container{
            height: 75vh;
        }
        .contents{
            width: 60vw;
            height: 70vh;
        }
        .contents textarea{
            font-size: 2.5vw;
        }
        .contents input[type="text"],
        .contents input[type="email"],
        .contents input[type="submit"]{ 
            font-size: 2.5vw;
        }
    }